.buttons{
    height: 23vh;
    display: flex;
    background-color: rgb(255, 63, 169);
}

.btn1{
    height: 40px;
    border: none;
    margin: 2.5% 30px 0px 50px;
    width: 120px;
    color: aliceblue;
    font-size: 16px;
    border-radius: 7px;
    background-color: green;
}

.btn2{
    height: 40px;
    border: none;
    color: #fff;
    margin: 2.5% 0px;
    font-size: 16px;
    width: 120px;
    border-radius: 7px;
    background-color: red;
}