@import "tailwindcss";
body{
    /* color: ; */
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: "poppins", sans-serif; */
    /* font-family:  "Roboto",  sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* background-color: rgb(100 500 250); */
    background: linear-gradient( to left,rgb(100, 200, 250),rgb(213, 246, 252) );
}
.birthday-list{
    width: 18vw;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    /* background-color: black; */
}
.button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(100, 200, 250);
    cursor: pointer;
    color: aliceblue;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}